{
  "extends": "@timedoor/nuxt",
  "plugins": ["vue"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "rules": {
    "@timedoor/nuxt/enforce-component-directory-structure": [
      "error",
      { "allowedDirs": ["dialogs"] }
    ],
    "@timedoor/nuxt/no-inline-props-definition": [
      "warn",
      { "propertiesLimit": 0 }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.vue"],
      "parser": "vue-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "ecmaVersion": 2020,
        "sourceType": "module"
      }
    },
    {
      "files": ["**/*.ts"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
      }
    }
  ]
}
