{
  "extends": [
    "@timedoor/eslint-config-nuxt"
  ],
  "rules": {
    "@timedoor/nuxt/enforce-component-directory-structure": [
      "error",
      {
        "allowedDirs": [
          "dialogs"
        ]
      }
    ],
    "@timedoor/nuxt/no-inline-props-definition": [
      "warn",
      {
        "propertiesLimit": 0
      }
    ],
    "@timedoor/nuxt/no-manual-repository-import": [
      "warn",
      {
        "forbiddenPaths": [
          "utils"
        ],
        "overrideDefaults": false
      }
    ]
  }
}
