{
  "root": true,
  "extends": "@timedoor/nuxt",
  "parser": "vue-eslint-parser",
  "plugins": ["vue"],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "rules": {
    "@timedoor/nuxt/enforce-component-directory-structure": [
      "error",
      { "allowedDirs": ["dialogs"] }
    ],
    "@timedoor/nuxt/no-inline-props-definition": [
      "warn",
      { "propertiesLimit": 0 }
    ]
  }
}
